body{
  background-color: #000000;
  justify-content: center;
}

h1{
  color: #13d844;
  font-family: 'Orbitron', sans-serif;
}

.span{
  width: 5cm;
}

.clock{
  display: flex;
  flex-direction: row;
}

.clock-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: black;
  color: #13d844;
  font-family: 'Orbitron', sans-serif;
  font-size: 2cm;
  height: 40vh;
}

.Button-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Button{
  font-size: 0.5cm;
  color: black;
  background-color: #13d844;
}

.hour_values{
  height: 2.75cm !important;
  background-color: black !important;
  color: #13d844 !important;
  font-size: 2cm;
  width: 4.75cm;
  border-style: solid;
  border-color: #13d844;
  font-family: 'Orbitron', sans-serif;
  border-radius: 5vh, 5vw;
}

.minute_values{
  height: 2.75cm !important;
  background-color: black !important;
  color: #13d844 !important;
  font-size: 2cm;
  width: 4.75cm;
  border-style: solid;
  font-family: 'Orbitron', sans-serif;
  border-color: #13d844;
  border-radius: 5vh, 5vw;
}

.second_values{
  height: 2.75cm !important;
  background-color: black !important;
  color: #13d844 !important;
  font-size: 2cm;
  width: 4.75cm;
  border-style: solid;
  border-color: #13d844;
  font-family: 'Orbitron', sans-serif;
  border-radius: 5vh, 5vw;
}

.Start{
  height: 1cm;
  width: 2cm;
  background-color: #13d844;
  font-weight: bold;
  border-style: none;
  font-family: 'Orbitron', sans-serif;
}

.Resume{
  height: 1cm;
  width: 2cm;
  background-color: #13d844;
  font-weight: bold;
  border-style: none;
  font-family: 'Orbitron', sans-serif;
}

.Stop{
  height: 1cm;
  width: 2cm;
  background-color: #b32400;
  font-weight: bold;
  border-style: none;
  font-family: 'Orbitron', sans-serif;
}
.Reset{
  height: 1cm;
  width: 2cm;
  background-color: #98b300;
  font-weight: bold;
  border-style: none;
  font-family: 'Orbitron', sans-serif;
}

.container-timer{
  background-color: black;
}

.Horloge{
  background-color: #000000;
  font-family: 'Orbitron', sans-serif;
  color: #13d844;
  font-size: 0.5cm;
  border-style: solid;
  border-color: #13d844;
  width: 4.5cm;
  height: 1.5cm;
}

.Count{
  background-color: #000000;
  font-family: 'Orbitron', sans-serif;
  color: #13d844;
  font-size: 0.5cm;
  border-style: solid;
  border-color: #13d844;
  width: 8cm;
  height: 1.5cm;
  margin-left: 15px;
}

.Horloge:hover{
  background-color: #13d844;
  color: #000000;
}

.Count:hover{
  background-color: #13d844;
  color: #000000;
}