body{
  background-color: #03252b;
  justify-content: center;
}

h1{
  color: #0098b3;
  font-family: 'Orbitron', sans-serif;
}

.clock-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: black;
  color: #0098b3;
  font-family: 'Orbitron', sans-serif;
  font-size: 2cm;
}

.Button-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Button{
  font-size: 0.5cm;
  color: black;
  background-color: #0098b3;
}

#hour_values{
  height: 2cm !important;
  background-color: black !important;
  color: #0098b3 !important;
  font-size: 2cm;
  width: 2.5cm;
  border-style: solid;
  border-color: #0098b3;
  border-radius: 5vh, 5vw;
}

#minutes_values{
  height: 2cm !important;
  background-color: black !important;
  color: #0098b3 !important;
  font-size: 2cm;
  width: 2.5cm;
  border-style: solid;
  border-color: #0098b3;
  border-radius: 5vh, 5vw;
}

#second_values{
  height: 2cm !important;
  background-color: black !important;
  color: #0098b3 !important;
  font-size: 2cm;
  width: 2.5cm;
  border-style: solid;
  border-color: #0098b3;
  border-radius: 5vh, 5vw;
}

.Start{
  height: 1cm;
  width: 2cm;
  background-color: #0098b3;
  font-weight: bold;
  border-style: none;
  font-family: 'Orbitron', sans-serif;
}

.Resume{
  height: 1cm;
  width: 2cm;
  background-color: #0098b3;
  font-weight: bold;
  border-style: none;
  font-family: 'Orbitron', sans-serif;
}

.Stop{
  height: 1cm;
  width: 2cm;
  background-color: #b32400;
  font-weight: bold;
  border-style: none;
  font-family: 'Orbitron', sans-serif;
}
.Reset{
  height: 1cm;
  width: 2cm;
  background-color: #98b300;
  font-weight: bold;
  border-style: none;
  font-family: 'Orbitron', sans-serif;
}

.container-timer{
  background-color: black;
}